<div class="mb-4">
  <h1 class="m-0 font-weight-bold" i18n>Informações de taxas</h1>
  <small class="text-muted" i18n>Os campos obrigatórios estão sinalizados com *</small>
</div>
<form
  [ngrxFormState]="feeDataForm$ | async"
  (ngSubmit)="onSubmit()"
  novalidate
>
  <div class="form-group required">
    <label class="control-label">Concorrente</label>
    <select
      class="form-control custom-select"
      [ngrxFormControlState]="
        (feeDataForm$ | async).controls.concorrenteId
      "
      required
    >
      <option [value]="">Escolha um concorrente</option>
      <option
        *ngFor="let concorrente of (concorrente$ | async).data"
        [value]="concorrente.id"
      >
        {{ concorrente.nome }}
      </option>
    </select>
    <small
      class="form-text text-danger"
      *ngIf="
        ((feeDataForm$ | async).controls.concorrenteId.isTouched ||
        (feeDataForm$ | async).controls.concorrenteId.isSubmitted) &&
        (feeDataForm$ | async).errors._concorrenteId?.required
      "
      i18n
    >
      Concorrente é obrigatório
    </small>
  </div>
  <div>
    <label class="font-weight-bold" i18n>Débito</label>
  </div>
  <div class="row">
    <div class="form-group required col pl-0 adaptative-padding-right">
      <label class="control-label">Taxa do concorrente</label>
      <input
        class="form-control"
        [ngrxFormControlState]="(feeDataForm$ | async).controls.debito.controls.taxaConcorrente"
        currencyMask
        required
      />
      <small
        class="form-text text-danger"
        *ngIf="
          ((feeDataForm$ | async).controls.debito.controls.taxaConcorrente.isTouched ||
          (feeDataForm$ | async).controls.debito.controls.taxaConcorrente.isSubmitted) &&
          (feeDataForm$ | async).errors._debito?._taxaConcorrente?.required
        "
        i18n
      >
        Taxa do concorrente é obrigatório
      </small>
    </div>
    <div class="form-group required col pr-0">
      <label class="control-label">Desconto oferecido</label>
      <input
        class="form-control"
        [ngrxFormControlState]="(feeDataForm$ | async).controls.debito.controls.desconto"
        currencyMask
        required
      />
      <small
        class="form-text text-danger"
        *ngIf="
          ((feeDataForm$ | async).controls.debito.controls.desconto.isTouched ||
          (feeDataForm$ | async).controls.debito.controls.desconto.isSubmitted) &&
          (feeDataForm$ | async).errors._debito?._desconto?.required
        "
        i18n
      >
        Desconto é obrigatório
      </small>
    </div>
  </div>
  <div>
    <label class="font-weight-bold" i18n>Crédito</label>
  </div>
  <div class="row">
    <div class="form-group required col pl-0 adaptative-padding-right">
      <label class="control-label">Taxa do concorrente</label>
      <input
        class="form-control"
        [ngrxFormControlState]="(feeDataForm$ | async).controls.credito.controls.taxaConcorrente"
        currencyMask
        required
      />
      <small
        class="form-text text-danger"
        *ngIf="
          ((feeDataForm$ | async).controls.credito.controls.taxaConcorrente.isTouched ||
          (feeDataForm$ | async).controls.credito.controls.taxaConcorrente.isSubmitted) &&
          (feeDataForm$ | async).errors._credito?._taxaConcorrente?.required
        "
        i18n
      >
        Taxa do concorrente é obrigatório
      </small>
    </div>
    <div class="form-group required col pr-0">
      <label class="control-label">Desconto oferecido</label>
      <input
        class="form-control"
        [ngrxFormControlState]="(feeDataForm$ | async).controls.credito.controls.desconto"
        currencyMask
        required
      />
      <small
        class="form-text text-danger"
        *ngIf="
          ((feeDataForm$ | async).controls.credito.controls.desconto.isTouched ||
          (feeDataForm$ | async).controls.credito.controls.desconto.isSubmitted) &&
          (feeDataForm$ | async).errors._credito?._desconto?.required
        "
        i18n
      >
        Desconto é obrigatório
      </small>
    </div>
  </div>

  <div class="row adaptative-button">
    <button
      class="col-sm-12"
      mat-raised-button
      color="primary"
      type="submit"
      i18n
    >
      Próximo
    </button>
  </div>
</form>
