<div *ngIf="(result$ | async).isValid" class="mb-4">
  <h1 class="m-0 font-weight-bold" i18n>Taxas da simulação permitidas</h1>
  <small class="text-muted" i18n>
    Todas as taxas simuladas são permitidas. Ofereça ao seu cliente.
  </small>
</div>
<div *ngIf="!(result$ | async).isValid" class="mb-4">
  <h1 class="m-0 font-weight-bold" i18n>Taxas da simulação não permitidas</h1>
  <small class="text-muted" i18n>
    A(s) taxa(s) simulada(s) não foi(ram) permitida(s) pois não atinge(m) o
    mínimo requisitado.
  </small>
</div>
<div class="row">
  <table class="table">
    <caption *ngIf="!(result$ | async).isValid">
      O valor de taxa mínima para débito é
      {{
        (result$ | async).minValueDebit | number: ".2-5":"pt"
      }}
      %, enquanto para crédito é
      {{
        (result$ | async).minValueCredit | number: ".2-5":"pt"
      }}%
    </caption>
    <thead>
      <tr>
        <th scope="col" i18n>Tipo</th>
        <th scope="col" i18n>Concorrente</th>
        <th scope="col" i18n>Proposta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td i18n>Débito</td>
        <td>
          {{
            (result$ | async).proposta?.debito?.taxaConcorrente
              | number: ".2-5":"pt"
          }}%
        </td>
        <td
          class="font-weight-bold"
          [ngClass]="
            (result$ | async).proposta?.debito?.desconto >=
            (result$ | async).minValueDebit
              ? 'text-success'
              : 'text-danger'
          "
        >
          {{
            (result$ | async).proposta?.debito?.desconto
              | number: ".2-5":"pt"
          }}%
        </td>
      </tr>
      <tr>
        <td i18n>Crédito</td>
        <td>
          {{
            (result$ | async).proposta?.credito?.taxaConcorrente
              | number: ".2-5":"pt"
          }}%
        </td>
        <td
          class="font-weight-bold"
          [ngClass]="
            (result$ | async).proposta?.credito?.desconto >=
            (result$ | async).minValueCredit
              ? 'text-success'
              : 'text-danger'
          "
        >
          {{
            (result$ | async).proposta?.credito?.desconto
              | number: ".2-5":"pt"
          }}%
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row adaptative-button">
  <button
    *ngIf="(result$ | async).isValid"
    class="col-sm-12"
    mat-raised-button
    color="primary"
    (click)="aceitar()"
    i18n
  >
    Proposta aceita
  </button>
  <button
    *ngIf="(result$ | async).isValid"
    class="col-sm-12"
    mat-raised-button
    color="secondary"
    (click)="recusar()"
    i18n
  >
    Recusar
  </button>
  <button
    *ngIf="!(result$ | async).isValid"
    class="col-sm-12"
    mat-raised-button
    color="primary"
    (click)="reajustar()"
    i18n
  >
    Reajustar
  </button>
</div>
