<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="(toolbar$ | async).showBackButton" (click)="onClickBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span i18n="app header">{{(toolbar$ | async).title}}</span>
</mat-toolbar>