<button [routerLink]="['/client-data']" class="col-lg-12" mat-raised-button color="primary" i18n>
  Nova simulação
</button>
<button (click)="generateReport()" class="col-md-12 mt-4" mat-raised-button i18n>
  Visualizar propostas aceitas
</button>
