<app-toolbar></app-toolbar>
<div class="content-root">
  <div class="jumbotron page-container">
    <div class="container content-container p-0">
      <div class="row">
        <div class="col-md-6 offset-md-3 p-0">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>