<div class="mb-4">
  <h1 class="m-0 font-weight-bold" i18n>Dados do cliente</h1>
  <small class="text-muted" i18n>Os campos obrigatórios estão sinalizados com *</small>
</div>
<form
  [ngrxFormState]="clientDataForm$ | async"
  (ngSubmit)="onSubmit()"
  novalidate
>
  <div class="row">
    <div class="form-group required col pl-0 adaptative-padding-right">
      <label class="control-label" i18n>CPF ou CNPJ</label>
      <input
        class="form-control"
        [ngrxFormControlState]="(clientDataForm$ | async).controls.cpfCnpj"
        mask="CPF_CNPJ"
        required
      />
      <small
        class="form-text text-danger"
        *ngIf="
          ((clientDataForm$ | async).controls.cpfCnpj.isTouched ||
          (clientDataForm$ | async).controls.cpfCnpj.isSubmitted) &&
          (clientDataForm$ | async).errors._cpfCnpj?.required
        "
        i18n
      >
        O CPF ou CNPJ é obrigatório
      </small>
      <small
        class="form-text text-danger"
        *ngIf="
          ((clientDataForm$ | async).controls.cpfCnpj.isTouched ||
          (clientDataForm$ | async).controls.cpfCnpj.isSubmitted) &&
          (clientDataForm$ | async).errors._cpfCnpj?.pattern
        "
        i18n
      >
        CPF ou CNPJ inválido
      </small>
    </div>
    <div class="form-group required col pr-0">
      <label class="control-label">Telefone</label>
      <input
        class="form-control"
        [ngrxFormControlState]="(clientDataForm$ | async).controls.telefone"
        mask="(00) 0 0000-0000"
        required
      />
      <small
        class="form-text text-danger"
        *ngIf="
          ((clientDataForm$ | async).controls.telefone.isTouched ||
          (clientDataForm$ | async).controls.telefone.isSubmitted) &&
          (clientDataForm$ | async).errors._telefone?.required
        "
        i18n
      >
        O telefone é obrigatório
      </small>
      <small
        class="form-text text-danger"
        *ngIf="
          ((clientDataForm$ | async).controls.telefone.isTouched ||
          (clientDataForm$ | async).controls.telefone.isSubmitted) &&
          (clientDataForm$ | async).errors._telefone?.pattern
        "
        i18n
      >
        Telefone inválido
      </small>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">E-mail</label>
    <input
      class="form-control"
      [ngrxFormControlState]="(clientDataForm$ | async).controls.email"
      required
    />
    <small
      class="form-text text-danger"
      *ngIf="
          ((clientDataForm$ | async).controls.email.isTouched ||
          (clientDataForm$ | async).controls.email.isSubmitted) &&
          (clientDataForm$ | async).errors._email?.email
        "
      i18n
    >
      E-mail inválido
    </small>
  </div>
  <div class="form-group required">
    <label class="control-label">Ramo de atividade</label>
    <select
      class="form-control custom-select"
      [ngrxFormControlState]="(clientDataForm$ | async).controls.ramoAtividadeId"
      required
    >
      <option [value]="">Escolha uma atividade</option>
      <option
        *ngFor="let ramoAtividade of (ramoAtividade$ | async).data"
        [value]="ramoAtividade.id"
      >
        {{ ramoAtividade.nome }}
      </option>
    </select>
    <small
      class="form-text text-danger"
      *ngIf="
          ((clientDataForm$ | async).controls.ramoAtividadeId.isTouched ||
          (clientDataForm$ | async).controls.ramoAtividadeId.isSubmitted) &&
          (clientDataForm$ | async).errors._ramoAtividadeId?.required
        "
      i18n
    >
      Ramo de atividade é obrigatório
    </small>
  </div>
  <div class="row adaptative-button">
    <button
      class="col-sm-12"
      mat-raised-button
      color="primary"
      type="submit"
      i18n
    >
      Próximo
    </button>
  </div>
</form>
