<h1 mat-dialog-title *ngIf="(data$ | async).proposta.isAccepted" i18n>Aceite do cliente</h1>
<h1 mat-dialog-title *ngIf="!(data$ | async).proposta.isAccepted" i18n>Rejeite do cliente</h1>
<div mat-dialog-content>
  Resposta gravada no banco de dados!
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onClick()" cdkFocusInitial>Voltar para inicio</button>
</div>