@import '~bootstrap/dist/css/bootstrap.min.css'

button:focus, button:active:focus, button.active:focus 
  outline: none !important
  outline-style: none !important

.form-group.required .control-label:after 
   content:" *"

.page-container 
  min-height: calc( 100vh - 64px )
  margin-bottom: 0px
  @media screen and (max-device-width: 599px)
    min-height: calc( 100vh - 56px )

.row 
  margin-right: 0px
  margin-left: 0px


.confirm-dialog-container .content-container 
  margin: 5px 5px 15px 5px
  color: #8f9cb5
  display: flex

.confirm-dialog-container #close-icon 
  margin-left: auto
  order: 2
  font-weight: bolder

.confirm-dialog-container #close-icon:hover 
  cursor: pointer


.confirm-dialog-container #no-button 
  height: 50px
  width: 50%
  background-color: #fc7169
  color: white
  border-radius: 0px


.confirm-dialog-container #yes-button 
  height: 50px
  width: 50%
  background-color: #b6bece
  color: white
  border-radius: 0px


.confirm-dialog-container span.content-span 
  padding: 35px 16px
  text-align: center
  font-size: 20px


.adaptative-button
  @media screen and (max-device-width: 720px)
    position: fixed
    width:100%
    bottom: 0px
    left: 0px

.adaptative-padding-right
  @media screen and (max-device-width: 576px)
    padding-right: 0 !important

body, html, app-root, .content-root
  position: relative
  min-height: 100%


app-root
  display: flex
  flex-flow: column

.form-control.ngrx-forms-touched.ngrx-forms-invalid, .form-control.ngrx-forms-submitted.ngrx-forms-invalid
  border-color: #dc3545


